<div class="mb-4 font-bold">Article Analytics:</div>
<div class="p-4 mt-8 bg-white neeto-ui-shadow-s rounded">
  <% @articles.each do |article| %>
  <div class="flexrow w-full mb-4 mt-4">
    <div class="text-gray-500"><%= article.title %></div>
    <div class="text-gray-500"><%= article.article_visits.count %></div>
  </div>
  <% end %>
</div>
